/* Form.module.css */

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#contact {
  max-width: 900px;
  margin: 0 auto;
  font-size: 22px;
}

section {
  display: block;
}

section h2 {
  font-family: "Metal Mania";
  text-align: center;
  padding: 20px;
  font-size: 30px;
}

 .Form__div {
  display: block;
  margin-top: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 500px;
}

label {
  font-size: 1.2em;
  margin-bottom: 8px;
}

input {
  width: 70%;
  padding: 10px;
  margin-bottom: 15px;
}



.Form__btn:hover {
  background-color: #45a049;
}
