/* Form.module.css */

.ContactSection {
  text-align: center;
  padding: 40px;
  min-height: 500px; /* Set a minimum height */
}

.FormContainer {
  max-width: 600px;
  margin: 0 auto;
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px; /* Add margin to the bottom */
}

.ContactForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.FormLabel {
  font-size: 1.2em;
  margin-bottom: 8px;
}

.FormInput {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  box-sizing: border-box;
}

.FormBtn {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: 500;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.FormBtn:hover {
  background-color: #242323;
}
