/* Import Tailwind CSS globally */
/* @import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities'; */

/* Apply global styles within the .checkout-global scope */
.checkout-global {
  --primary-color: #000000;

  /* Rest of your styles for .checkout-global */
  .input-container {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .input-container label {
     position: absolute;
     transform-origin: top left;
     transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  }

  .input-container input {
    transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  }

  .ps-menu-icon {
    width: unset !important;
    min-width: unset !important;
    justify-content: start !important;
    margin: 0 !important;
  }

  .ps-sidebar-container,
  .ps-submenu-content {
    background-color: transparent !important;
  }

  .ps-collapsed .ps-menu-icon {
    min-width: 100% !important;
    justify-content: center !important;
  }

  .ps-collapsed {
    width: 80px !important;
  }

  .ps-sidebar-container,
  .ps-menu-root,
  .ps-menu-root>ul {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .ps-sidebar-root {
    min-width: unset !important;
    border: none !important;
  }

  .ps-collapsed,
  .ps-collapsed .ps-menu-root,
  .ps-collapsed .ps-menu-button {
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-left: unset !important;
    margin-right: unset !important;
  }

  .ps-collapsed ul {
    align-items: center;
  }

  .ps-menu-label {
    display: flex;
    justify-content: space-between;
  }
}

/* Reset global styles outside of the .checkout-global scope */
:not(.checkout-global) .input-container,
:not(.checkout-global) .ps-menu-icon,
:not(.checkout-global) .ps-sidebar-container,
:not(.checkout-global) .ps-submenu-content,
:not(.checkout-global) .ps-collapsed,
:not(.checkout-global) .ps-menu-root,
:not(.checkout-global) .ps-menu-root>ul,
:not(.checkout-global) .ps-sidebar-root,
:not(.checkout-global) .ps-menu-button,
:not(.checkout-global) .ps-menu-label {
  all: unset !important;
}
