footer .footer-icons {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

footer .footer-title {
  text-align: center;
  color: white;
  width: 50%;
  font-size: 50px;
  font-weight: bold;
  margin: 0 auto;
}

.footer-icons ul {
  list-style-type: none;
  display: flex;
}

.footer-icons img {
  width: 30px;
}